<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/photo_1.png" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'> 
			<h3>
				Wei Xia &nbsp 夏 伟
			</h3>
			<p>
			Currently, I am pursuing my Ph.D. degree in communication and information system in Xidian University, Xi’an, China, fortunately advised by Prof. Quanxue Gao. Before studying in Xidian University, I graduated from Lanzhou University of Technology in 2018, Lanzhou, China</a>. 

			</p>&nbsp
			<p>
			
			<h4>Research Topics</h4> Multi-modal (cross-modal) learning, representation learning, self-supervised learning, unsupervised learning, graph neural networks, etc.</p>
			</p>&nbsp

                         <a href="mailto: xd.weixia@gmail.com"><i class="fa fa-envelope"></i> &nbsp; Mail-To-Me</a>
                         &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                         <a  href="https://scholar.google.com/citations?hl=zh-CN&user=rvPRygYAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website}}</a>
                         &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                         <a  href="https://github.com/xdweixia" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> &nbsp; GitHub</a>
                         &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                         <a href="assets/pdf/Wei Xia-CV-2.pdf"><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; Curriculum Vitae</a>	
	</div>
</div>
