<h3>
	<a name='publications'></a> Selected Publications
</h3>

<h4>
	<a name='2022'></a> 2022
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Self-consistent Contrastive Attributed Graph Clustering with Pseudo-label Prompt</font></strong><br />
       <strong>Wei Xia</strong>, Qianqian Wang, Quanxue Gao, Ming Yang, Xinbo Gao<br /> 
	<font color="red"><u>IEEE Transactions on Multimedia (<strong>TMM</strong>)</u></font>, 2022 (<strong>IF<sub>21</sub>: 8.182</strong>)<br />
	<a href="assets/pdf/2022-TMM.pdf">[PDF]</a> 
	<a href="https://github.com/xdweixia/SCAGC">[Code]</a>
	<a href="https://ieeexplore.ieee.org/document/9914670">[URL]</a>
	<a href="assets/bibtex/2022-TMM-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>


<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Tensorized Bipartite Graph Learning for Multi-view Clustering</font></strong><br />
       <strong>Wei Xia</strong>, Quanxue Gao, Qianqian Wang, Xinbo Gao, Chris Ding, Dacheng Tao<br /> 
	<font color="red"><u>IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>)</u></font>, 2022 (<strong>IF<sub>21</sub>: 24.314</strong>) <br />
	<a href="assets/pdf/2022-TPAMI.pdf">[PDF]</a>
	<a href="https://github.com/xdweixia/TBGL-MVC">[Code]</a>
	<a href="https://ieeexplore.ieee.org/document/9813586">[URL]</a>
	<a href="assets/bibtex/2022-TPAMI-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Multiview Spectral Clustering With Bipartite Graph</font></strong><br />
       Haizhou Yang, Quanxue Gao, <strong>Wei Xia</strong>, Ming Yang, Xinbo Gao<br /> 
	<font color="red"><u>IEEE Transactions on Image Processing (<strong>TIP</strong>)</u></font>, 2022 (<strong>IF<sub>21</sub>: 11.041</strong>)<br />
	    <a href="assets/pdf/2022-TIP.pdf">[PDF]</a>
		<a href="https://ieeexplore.ieee.org/document/9774970">[URL]</a>
		<a href="assets/bibtex/2022-TIP-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Adversarial Multiview Clustering Networks With Adaptive Fusion</font></strong><br />
       Qianqian Wang, Zhiqiang Tao, <strong>Wei Xia</strong>, Quanxue Gao, Xiaochun Cao, Licheng Jiao<br /> 
	<font color="red"><u>IEEE Transactions on Neural Networks and Learning Systems (<strong>TNNLS</strong>)</u></font>, 2022 (<strong>IF<sub>21</sub>: 14.255</strong>) <br />
	    <a href="assets/pdf/2022-TNNLS.pdf">[PDF]</a>
		<a href="https://ieeexplore.ieee.org/document/9703098">[URL]</a>
		<a href="assets/bibtex/2022-TNNLS-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Tensor Completion-Based Incomplete Multiview Clustering</font></strong><br />
       <strong>Wei Xia</strong>, Quanxue Gao, Qianqian Wang, Xinbo Gao<br /> 
	<font color="red"><u>IEEE Transactions on Cybernetics (<strong>TCYB</strong>)</u></font>, 2022 (<strong>IF<sub>21</sub>: 19.118</strong>)<br />
	    <a href="assets/pdf/2022-TCYB.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/2022-IEEE-TCYB-TCIMC">[Code]</a>
		<a href="https://ieeexplore.ieee.org/document/9693309">[URL]</a>
		<a href="assets/bibtex/2022-TCYB-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Multi-view graph embedding clustering network: Joint self-supervision and block diagonal representation</font></strong><br />
       <strong>Wei Xia</strong>, Sen Wang, Ming Yang, Quanxue Gao, Jungong Han, Xinbo Gao<br /> 
	<font color="red"><u>Neural Networks (<strong>NN</strong>)</u></font>, 2022 (<strong>IF<sub>21</sub>: 9.657</strong>)<br />
	    <a href="assets/pdf/2022-NN.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/NN-2022-MVGC">[Code]</a>
		<a href="https://doi.org/10.1016/j.neunet.2021.10.006">[URL]</a>
		<a href="assets/bibtex/2022-NN-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<h4>
	<a name='2021'></a> 2021
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Zero-Shot Learning Based on Quality-Verifying Adversarial Network</font></strong><br />
       Siyang Deng, Gang Xiang, Quanxue Gao, <strong>Wei Xia</strong>, Xinbo Gao<br /> 
	<font color="red"><u>IEEE Transactions on Multimedia (<strong>TMM</strong>)</u></font>, 2021 (<strong>IF<sub>21</sub>: 8.182</strong>)<br />
	    <a href="assets/pdf/2021-TMM-ZERO.pdf">[PDF]</a>
		<a href="https://ieeexplore.ieee.org/document/9573362">[URL]</a>
	    <a href="assets/bibtex/2021-TMM-ZERO-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Deep Self-Supervised t-SNE for Multi-modal Subspace Clustering</font></strong><br />
       	Qianqian Wang, <strong>Wei Xia</strong>, Zhiqiang Tao, Quanxue Gao, Xiaochun Cao<br /> 
	<font color="red"><u>ACM Multimedia (<strong>ACM MM</strong>)</u></font>, 2021 <br />
	    <a href="assets/pdf/2021-ACM MM.pdf">[PDF]</a>
		<a href="https://doi.org/10.1145/3474085.3475319">[URL]</a>
	    <a href="assets/bibtex/2021-ACM MM-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Self-supervised Graph Convolutional Network for Multi-view Clustering</font></strong><br />
       <strong>Wei Xia</strong>, Qianqian Wang, Quanxue Gao, Xiangdong Zhang, Xinbo Gao<br /> 
	    <font color="red"><u>IEEE Transactions on Multimedia (<strong>TMM</strong>)</u></font>, 2021 (<strong>IF<sub>21</sub>: 8.182</strong>)<br />
	    <a href="assets/pdf/2021-TMM-GRAPH.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/SGCMC">[Code]</a>
		<a href="https://ieeexplore.ieee.org/document/9472979/">[URL]</a>
	    <a href="assets/bibtex/2021-TMM-GRAPH-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Enhanced Tensor RPCA and its Application</font></strong><br />
       	Quanxue Gao, Pu Zhang, <strong>Wei Xia</strong>, De-Yan Xie, Xinbo Gao, Dacheng Tao<br /> 
	    <font color="red"><u>IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>)</u></font>, 2021 (<strong>IF<sub>21</sub>: 24.314</strong>)<br />
	    <a href="assets/pdf/2021-TPAMI.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/TPAMI2020_ETRPCA">[Code]</a>
		<a href="https://doi.org/10.1109/TPAMI.2020.3017672">[URL]</a>
	    <a href="assets/bibtex/2021-TPAMI.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Adversarial self-supervised clustering with cluster-specificity distribution</font></strong><br />
       <strong>Wei Xia</strong>, Xiangdong Zhang, Quanxue Gao, Xinbo Gao<br /> 
	    <font color="red"><u>Neurocomputing (<strong>NC</strong>)</u></font>, 2021 (IF<sub>21</sub>: 5.779)<br />
	    <a href="assets/pdf/2021-NC-2.pdf">[PDF]</a>
		<a href="https://doi.org/10.1016/j.neucom.2021.03.108">[URL]</a>
		<a href="assets/bibtex/2021-NC2-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Regression-based clustering network via combining prior information</font></strong><br />
       <strong>Wei Xia</strong>, Quanxue Gao, Qianqian Wang, Xinbo Gao<br /> 
	    <font color="red"><u>Neurocomputing (<strong>NC</strong>)</u></font>, 2021 (IF<sub>21</sub>: 5.779)<br />
	    <a href="assets/pdf/2021-NC-1.pdf">[PDF]</a>
		<a href="https://doi.org/10.1016/j.neucom.2021.03.031">[URL]</a>
		<a href="assets/bibtex/2021-NC1-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Multiview Subspace Clustering by an Enhanced Tensor Nuclear Norm</font></strong><br />
       <strong>Wei Xia</strong>, Xiangdong Zhang, Quanxue Gao, Xiaochuang Shu, Jungong Han, Xinbo Gao<br /> 
	<font color="red"><u>IEEE Transactions on Cybernetics (<strong>TCYB</strong>)</u></font>, 2021 (<strong>IF<sub>21</sub>: 19.118</strong>) <br />
	    <a href="assets/pdf/2021-TCYB.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/IEEE_TC2021_WTSNM_MVSC">[Code]</a>
		<a href="https://ieeexplore.ieee.org/document/9364911">[URL]</a>
		<a href="assets/bibtex/2021-TCYB-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<h4>
	<a name='2020'></a> 2020
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong><font color="blue">Tensor-SVD Based Graph Learning for Multi-View Subspace Clustering</font></strong><br />
       Quanxue Gao, <strong>Wei Xia*</strong>, Zhizhen Wan, De-Yan Xie, Pu Zhang<br /> 
	    <font color="red"><u>The Thirty-Fourth Conference on Artificial Intelligence (<strong>AAAI</strong>)</u></font>, 2020 <br />
	    <a href="assets/pdf/2020-AAAI.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/AAAI2020_WTNNM">[Code]</a>
		<a href="https://ojs.aaai.org/index.php/AAAI/article/view/5807">[URL]</a>
		<a href="assets/bibtex/2020-AAAI-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>





