<h3>
	<a name='publications'></a> Publications
</h3>

<h4>
	<a name='2022'></a> 2022
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Adversarial Multiview Clustering Networks With Adaptive Fusion</strong><br />
       Qianqian Wang, Zhiqiang Tao, <strong>Wei Xia</strong>, Quanxue Gao, Xiaochun Cao, Licheng Jiao<br /> 
	    IEEE Transactions on Neural Networks and Learning Systems (<strong>TNNLS</strong>), 2022 <br />
	    <a href="assets/pdf/2022-TNNLS.pdf">[PDF]</a>
		<a href="https://ieeexplore.ieee.org/document/9703098">[URL]</a>
		<a href="assets/bibtex/2022-TNNLS-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Tensor Completion-Based Incomplete Multiview Clustering</strong><br />
       <strong>Wei Xia</strong>, Quanxue Gao, Qianqian Wang, Xinbo Gao<br /> 
	    IEEE Transactions on Cybernetics (<strong>TCYB</strong>), 2022 <br />
	    <a href="assets/pdf/2022-TCYB.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/2022-IEEE-TCYB-TCIMC">[Code]</a>
		<a href="https://ieeexplore.ieee.org/document/9693309">[URL]</a>
		<a href="assets/bibtex/2022-TCYB-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Multi-view graph embedding clustering network: Joint self-supervision and block diagonal representation</strong><br />
       <strong>Wei Xia</strong>, Sen Wang, Ming Yang, Quanxue Gao, Jungong Han, Xinbo Gao<br /> 
	    Neural Networks (<strong>NN</strong>), 2022 <br />
	    <a href="assets/pdf/2022-NN.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/NN-2022-MVGC">[Code]</a>
		<a href="https://doi.org/10.1016/j.neunet.2021.10.006">[URL]</a>
		<a href="assets/bibtex/2022-NN-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<h4>
	<a name='2021'></a> 2021
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Zero-Shot Learning Based on Quality-Verifying Adversarial Network</strong><br />
       Siyang Deng, Gang Xiang, Quanxue Gao, <strong>Wei Xia</strong>, Xinbo Gao<br /> 
	    IEEE Transactions on Multimedia (<strong>TMM</strong>), 2021 <br />
	    <a href="assets/pdf/2021-TMM-ZERO.pdf">[PDF]</a>
		<a href="https://ieeexplore.ieee.org/document/9573362">[URL]</a>
	    <a href="assets/bibtex/2021-TMM-ZERO-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Deep Self-Supervised t-SNE for Multi-modal Subspace Clustering</strong><br />
       	Qianqian Wang, <strong>Wei Xia</strong>, Zhiqiang Tao, Quanxue Gao, Xiaochun Cao<br /> 
	    ACM Multimedia (<strong>ACM MM</strong>), 2021 <br />
	    <a href="assets/pdf/2021-ACM MM.pdf">[PDF]</a>
		<a href="https://doi.org/10.1145/3474085.3475319">[URL]</a>
	    <a href="assets/bibtex/2021-ACM MM-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Self-supervised Graph Convolutional Network for Multi-view Clustering</strong><br />
       <strong>Wei Xia</strong>, Qianqian Wang, Quanxue Gao, Xiangdong Zhang, Xinbo Gao<br /> 
	    IEEE Transactions on Multimedia (<strong>TMM</strong>), 2021 <br />
	    <a href="assets/pdf/2021-TMM-GRAPH.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/SGCMC">[Code]</a>
		<a href="https://ieeexplore.ieee.org/document/9472979/">[URL]</a>
	    <a href="assets/bibtex/2021-TMM-GRAPH-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Enhanced Tensor RPCA and its Application</strong><br />
       	Quanxue Gao, Pu Zhang, <strong>Wei Xia</strong>, De-Yan Xie, Xinbo Gao, Dacheng Tao<br /> 
	    IEEE Transactions on Pattern Analysis and Machine Intelligence (<strong>TPAMI</strong>), 2021 <br />
	    <a href="assets/pdf/2021-TPAMI.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/TPAMI2020_ETRPCA">[Code]</a>
		<a href="https://doi.org/10.1109/TPAMI.2020.3017672">[URL]</a>
	    <a href="assets/bibtex/2021-TPAMI.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Adversarial self-supervised clustering with cluster-specificity distribution</strong><br />
       <strong>Wei Xia</strong>, Xiangdong Zhang, Quanxue Gao, Xinbo Gao<br /> 
	    Neurocomputing (<strong>NC</strong>), 2021 <br />
	    <a href="assets/pdf/2021-NC-2.pdf">[PDF]</a>
		<a href="https://doi.org/10.1016/j.neucom.2021.03.108">[URL]</a>
		<a href="assets/bibtex/2021-NC2-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Regression-based clustering network via combining prior information</strong><br />
       <strong>Wei Xia</strong>, Quanxue Gao, Qianqian Wang, Xinbo Gao<br /> 
	    Neurocomputing (<strong>NC</strong>), 2021 <br />
	    <a href="assets/pdf/2021-NC-1.pdf">[PDF]</a>
		<a href="https://doi.org/10.1016/j.neucom.2021.03.031">[URL]</a>
		<a href="assets/bibtex/2021-NC1-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Multiview Subspace Clustering by an Enhanced Tensor Nuclear Norm</strong><br />
       <strong>Wei Xia</strong>, Xiangdong Zhang, Quanxue Gao, Xiaochuang Shu, Jungong Han, Xinbo Gao<br /> 
	    IEEE Transactions on Cybernetics (<strong>TCYB</strong>), 2021 <br />
	    <a href="assets/pdf/2021-TCYB.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/IEEE_TC2021_WTSNM_MVSC">[Code]</a>
		<a href="https://ieeexplore.ieee.org/document/9364911">[URL]</a>
		<a href="assets/bibtex/2021-TCYB-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>

<h4>
	<a name='2020'></a> 2020
</h4>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Tensor-SVD Based Graph Learning for Multi-View Subspace Clustering</strong><br />
       Quanxue Gao, <strong>Wei Xia*</strong>, Zhizhen Wan, De-Yan Xie, Pu Zhang<br /> 
	    The Thirty-Fourth Conference on Artificial Intelligence (<strong>AAAI</strong>), 2020 <br />
	    <a href="assets/pdf/2020-AAAI.pdf">[PDF]</a>
		<a href="https://github.com/xdweixia/AAAI2020_WTNNM">[Code]</a>
		<a href="https://ojs.aaai.org/index.php/AAAI/article/view/5807">[URL]</a>
		<a href="assets/bibtex/2020-AAAI-bib.txt">[Bibtex]</a>
   </p>
  </div>
</div>





