<h3>
	<a name='publications'></a> Academic Service
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Journal refereeing:</strong> IEEE Trans. on Neural Networks and Learning Systems (<strong>TNNLS</strong>), IET Signal Processing, The Visual Computer (TVCJ).
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Conference refereeing:</strong> Association for the Advancement of Artificial Intelligence (<strong>AAAI</strong>, 2021, 2022, 2023), International Joint Conference on Artificial Intelligence (<strong>IJCAI</strong>, 2022).
   </p>
  </div>
</div>

